* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  color: #222;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

svg {
  width: 20px;
  height: 20px;
  stroke: #F6F6F6;
}

.hidden {
  display: none;
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .2s ease;
}

.header-wrap {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255,255,255,0.2);
}

.header-wrap .mainInner {
  max-width: calc(1050px + 40px);
  height: 50px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title h1 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #F6F6F6;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
}

.navbar-menu ul li:not(:last-child) {
  margin-right: 30px;
}

.navbar-menu .link {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #E0E0E2;
}

.navbar-close, .navbar-icon, .navbar-icon > * {
  display: none;
  align-items: center;
}

.main-wrap {
  background-image: url(/img/img-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}

@media screen and (max-width: 640px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 75%;
    height: 100vh;
    background-color: #070F16;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
  }

  .navbar-menu ul {
    flex-direction: column;
  }

  .navbar-menu ul li:not(:last-child) {
    margin: 0;
  }

  .navbar-menu .link {
    padding: 14px 22px
  }
  
  .navbar-close, .navbar-icon, .navbar-icon > * {
    display: flex;
  }

  .navbar-close {
    padding: 14px 22px;
    justify-content: flex-end;
  }

  .navbar-close label {
    display: flex;
    align-items: center;
  }

  .navbar-close label::before {
    content: 'Close';
    font-size: 14px;
    color: #E0E0E2;
    opacity: .9;
  }

  .off-navmenu:checked ~ .navbar-menu {
    right: 0;
    visibility: visible;
    opacity: 1;
  }

  .off-navmenu:checked ~ .navC {
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
    visibility: visible;
  }
}